@svg square {
	@rect {
		fill: var(--color, black);
		width: var(--size);
		height: var(--size);
	}
}

.example {
	background: white svg(square param(--color #00b1ff) param(--size 100%)) center / cover;
}
