@svg square {
	@rect {
		fill: var(--color, black);
		width: 100%;
		height: 100%;
	}

	@text {
		content: "`1234567890-=qwertyuiop[]\\asdfghjkl;'zxcvbnm,./~!@#$%^&*()_+{}|:\"<>?¡™£¢∞§¶•ªº–≠œ∑´®†¥¨ˆøπ“‘«åß∂ƒ©˙∆˚¬…æΩ≈ç√∫˜µ≤≥÷";
	}
}

.example {
	background: white svg(square param(--color #00b1ff)) center / cover;
}
