.arrow {
	background-color: white;
	background-size: cover;

	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwb2x5Z29uIGZpbGw9ImdyZWVuIiBwb2ludHM9IjUwLDEwMCAwLDAgMCwxMDAiLz48L3N2Zz4=")
}
