.arrow {
	background-color: white;
	background-size: cover;

	background-image: url("data:image/svg+xml;charset=utf8,<svg%20xmlns%3D\"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\"><polygon%20fill%3D\"green\"%20points%3D\"50%2C100%200%2C0%200%2C100\"%2F><%2Fsvg>")
}
