.text {
	background-color: white;
	background-size: cover;

	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwb2x5Z29uIGZpbGw9ImdyZWVuIiBwb2ludHM9IjUwLDEwMCAwLDAgMCwxMDAiLz48dGV4dCB4PSI1MCIgeT0iNTAiPmAxMjM0NTY3ODkwLT1xd2VydHl1aW9wW11cXGFzZGZnaGprbDsnenhjdmJubSwuL34hQCMkJV4mYW1wOyooKV8re318OlwiJmFtcDtsdDs+P8Kh4oSiwqPCouKInsKnwrbigKLCqsK64oCT4omgxZPiiJHCtMKu4oCgwqXCqMuGw7jPgOKAnOKAmMKrw6XDn+KIgsaSwqnLmeKIhsuawqzigKbDps6p4omIw6fiiJriiKvLnMK14omk4omlw7c8L3RleHQ+PC9zdmc+")
}
