.text {
	background-color: white;
	background-size: cover;

	@svg {
		polygon {
			fill: green;
			points: 50,100 0,0 0,100;
		}

		text {
			x: 50;
			y: 50;
			content: "`1234567890-=qwertyuiop[]\\asdfghjkl;'zxcvbnm,./~!@#$%^&*()_+{}|:\"<>?¡™£¢∞§¶•ªº–≠œ∑´®†¥¨ˆøπ“‘«åß∂ƒ©˙∆˚¬…æΩ≈ç√∫˜µ≤≥÷";
		}
	}
}
